.buttonbase {
	-fx-text-alignment:center; -fx-font-family:verdana; -fx-background-color:tan; -fx-font-size:14px; -fx-border-color:sienna; -fx-border-style:outset; -fx-border-width:2px;
	}
.region {
    -fx-background-color: levander; -fx-border-color:mediumslateblue; -fx-border-style:groove; -fx-border-width:medium;
}
.textinputcontrol {
	-fx-font:verdana; -fx-font-size:14px;
}

.shape{
	-fx-stroke:mediumslateblue; -fx-stroke-width:2px;
}
